<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fifty.fifty.mapper.YoutubeChartMapper">

  <select id="getTodayChart" resultType="com.fifty.fifty.domain.YoutubeChartData">
    SELECT *
    FROM fifty_fifty_music_char
  </select>

    <select id="findByVideoId" resultType="com.fifty.fifty.domain.YoutubeChartData">
        SELECT * FROM fifty_fifty_music_char WHERE video_id = #{videoId}
    </select>

    <insert id="insertChart">
        INSERT INTO fifty_fifty_music_char
        (no, video_id, title, thumbnail_url, video_url, view_count, published_at)
        VALUES
        (#{no}, #{videoId}, #{title}, #{thumbnailUrl}, #{videoUrl}, #{viewCount}, #{publishedAt})
    </insert>

    <update id="updateChart">
        UPDATE fifty_fifty_music_char
        SET title = #{title},
            thumbnail_url = #{thumbnailUrl},
            video_url = #{videoUrl},
            view_count = #{viewCount},
            published_at = #{publishedAt}
        WHERE no = #{no}
    </update>

</mapper>